.tile {
  position: relative;
  width: 165px;
  height: 165px;
  border-radius: 5px;
  background-image: url("/lighthouse.jpg");
  background-size: 300% 300%;
}
.tile.empty {
  background-image: none;
}
